.tag {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 0.9em;
  background-color: var(--white);
  color: var(--lightblue);
  font-weight: 600;
}

.tag--success {
  background: var(--lightgreen);
  color: var(--green);
}