@import "./meyer-reset.css";
@import "./typography.css";
@import "./settings.css";
@import "./setup.css";
@import "./components/card/style.css";
@import "./components/tag/style.css";
@import "./components/buttons/style.css";
@import "./components/article-card/style.css";
@import "./components/wrestler-card/style.css";
@import "./components/bout-card/style.css";
@import "./components/result-card/style.css";
@import "./components/event-card/style.css";
@import "./components/dashboard-controls/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	padding: var(--standard-padding);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* full viewport height */
} 

main {
	flex-grow: 1;
	border: 1px solid green;
}

inner-column {
	display: block;
   padding: 20px;
   max-width: 1400px;
   margin-inline: auto;

   @media (width < 600px) {
   	padding: 0;
   }

}

.dashboard {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
	padding: var(--standard-padding);



	.dashboard-controls {
		grid-row: 1;
	}

	.load-more-btn {
		display: none;
	}

	.article-list {
/*		grid-template-columns: 1fr;*/

		p {
			display: -webkit-box;
  			-webkit-box-orient: vertical;
  			-webkit-line-clamp: 3;
 			overflow: hidden;
		}
	}
	@media (width < 1000px) {

  		.articles {
    		grid-row: 1;
  		}

		.articles:not(.articles--expanded) .article-list .article-list__item:not(:first-child) {
			display: none;
		}

		.events:not(.events--expanded) .event-list .event-card:not(:first-of-type) {
			display: none;
		}

		.results:not(.results--expanded) .result-list .result-list__item:not(:first-child) {
			display: none;
		}

		.load-more-btn {
			display: block;
			margin-top: 1em;
		}
	}
}


@media (min-width: 1000px) {
	.dashboard {
		grid-template-columns: 1fr 2fr 1fr;
	}

}

.wrestler-list {
	display: grid;
	grid-template-columns: repeat(4, minmax(10px, 1fr));
	gap: 0.8em;
}
