* {
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	text-decoration: underline;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

/* accessibility */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}